# Close stale issues created by the issues-test workflow

name: 'Close stale test issues'
on:
  schedule:
    - cron: '30 1 * * *'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  stale:
    permissions:
      issues: write  # for actions/stale to close stale issues
      pull-requests: write  # for actions/stale to close stale PRs
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@cb605e52c26070c328afc4562f0b4ada7618a84e
        with:
          egress-policy: block
          disable-telemetry: true
          allowed-endpoints: >
            api.github.com:443

      - name: Stale Issues
        uses: actions/stale@5bef64f19d7facfb25b37b414482c7164d639639
        with:
          any-of-issue-labels: 'expected'
          stale-issue-message: 'This test issue is stale because it has been open 1 days with no activity.'
          stale-pr-message: 'This PR is stale because it has been open 45 days with no activity.'
          close-issue-message: 'This test issue was closed because it has been stalled for a day.'
          days-before-issue-stale: 1
          days-before-issue-close: 1
          days-before-pr-stale: 45
          days-before-pr-close: -1
