# Close stale issues created by the issues-test workflow

name: 'Close stale test issues'
on:
  schedule:
    - cron: '30 1 * * *'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  stale:
    permissions:
      issues: write  # for actions/stale to close stale issues
      pull-requests: write  # for actions/stale to close stale PRs
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@0634a2670c59f64b4a01f0f96f84700a4088b9f0
        with:
          egress-policy: block
          disable-telemetry: true
          allowed-endpoints: >
            api.github.com:443

      - name: Stale Issues
        uses: actions/stale@ee7ef89499a3de6e4fe1fc1acb994e67c64e0a2a
        with:
          any-of-issue-labels: 'expected'
          stale-issue-message: 'This test issue is stale because it has been open 1 days with no activity.'
          stale-pr-message: 'This PR is stale because it has been open 45 days with no activity.'
          close-issue-message: 'This test issue was closed because it has been stalled for a day.'
          days-before-issue-stale: 1
          days-before-issue-close: 1
          days-before-pr-stale: 45
          days-before-pr-close: -1
