# A workflow that tests this action

name: SARIF issue workflow

on:
  pull_request:
    branches: [main]
  workflow_dispatch:

permissions:
  issues: write

jobs:
  issue:
    runs-on: ubuntu-latest
    name: Run the SARIF issue updater

    steps:

      - name: Harden Runner
        uses: step-security/harden-runner@248ae51c2e8cc9622ecf50685c8bf7150c6e8813
        with:
          egress-policy: block
          disable-telemetry: true
          allowed-endpoints: >
            api.github.com:443
            github.com:443
            registry.npmjs.org:443

      - name: Checkout
        uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b

      - name: Post SARIF findings in the issue
        uses: sett-and-hive/sarif-to-issue-action@main # Not pinned, this is a test
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          repository: ${{ github.repository }}
          branch: ${{ github.head_ref }}
          sarif-file: ./test/fixtures/odc.sarif
          title: "Build artifact: issue-test.yml workflow"
          labels: "build,expected"
          dry-run: false
          odc-sarif: true
